# Configuração do PostgreSQL
PGHOST=sua_url_do_postgres
PGPORT=5432
PGDATABASE=nome_do_banco
PGUSER=usuario
PGPASSWORD=senha

# Configuração do Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Chave de autenticação da API Evolution
AUTHENTICATION_API_KEY=sua_chave_de_autenticacao
