# Dados do PostgreSQL
PGHOST=postgres
PGPORT=5432
PGDATABASE=evolution_db
PGUSER=evolution_user
PGPASSWORD=evolution_password

# Chave de autenticação da API Evolution
AUTHENTICATION_API_KEY=sua_chave_gerada

#Configurações da Evolution
DATABASE_PROVIDER=postgresql
DATABASE_ENABLED=true
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true